In [6]:
import pandas as pd

# Geography and Demography within the NGA Data

### Top Nations Present in National Gallery of Art in Washington, DC (EDA)

In [15]:
# I need to import a copy of the constituents 'nationality' column from the non_latin_art.csv dataset recently added into 
nationalities = pd.read_csv('../../data_samples/nonLaArt/constituents_nationalities.csv')

In [16]:
nationalities.head()

  nationality
0    American
1    American
2    American
3    American
4    American

In [ ]:
artist_origin = nationalities.value_counts(normalize=True)

In [ ]:
artist_origin[:20].plot(kind='bar')